---
# This should be replaced with the terraform integration!
# In lack of automatic creation (?) from tf, this currently requires an additional "-i inventory" when run
all:
  hosts:
    pve:
      ansible_host: 192.168.1.100
      ansible_user: root
      ansible_python_interpreter: /usr/bin/python3
  # children:
    media:
      ansible_host: ${media_ip}
      ansible_user: ${user}
    backup:
      ansible_host: ${backup_ip}
      ansible_user: ${user}
    network:
      ansible_host: ${network_ip}
      ansible_user: ${user}
    collaboration:
      ansible_host: ${collaboration_ip}
      ansible_user: ${user}
    fileSharing:
      ansible_host: ${fileSharing_ip}
      ansible_user: ${user}
    # vms:
    #   hassio:
    #     ansible_host: {{ hassio_ip }}
    #     ansible_user: {{ user }}
    #   opnsense:
    #     ansible_host: {{ opnsense_ip }}
    #     ansible_user: {{ user }}