[Unit]
Description=Watch for NVIDIA driver updates

[Path]
PathChanged={{ vgpu_driver_dir | default('/opt/nvidia-vgpu-drivers') }}/VERSION.json
PathModified={{ vgpu_driver_dir | default('/opt/nvidia-vgpu-drivers') }}/guest

[Install]
WantedBy=multi-user.target
