[Unit]
Description=Watch for NVIDIA driver updates

[Path]
# Watch the NVIDIA driver directory for changes
PathChanged={{ nvidia_driver_dir | default('/opt/nvidia-vgpu') }}
PathModified={{ nvidia_driver_dir | default('/opt/nvidia-vgpu') }}/guest

[Install]
WantedBy=multi-user.target
