[Unit]
Description=borgmatic backup
Wants=network-online.target
After=network-online.target
ConditionACPower=true

[Service]
Type=oneshot

# Security settings for systemd running as user
MemoryDenyWriteExecute=no
NoNewPrivileges=yes
PrivateTmp=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
ProtectSystem=full
ReadWritePaths=-/storage/cloud

# Lower CPU and I/O priority
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

Restart=no
LogRateLimitIntervalSec=0

# Environment variables for 1Password access
EnvironmentFile={{ config_file_dir }}/{{ borgmatic_config_filename }}.env

# Delay start to prevent backups running during boot
ExecStartPre=sleep 1m
ExecStart=systemd-inhibit --who="borgmatic" --what="idle" --why="Prevent interrupting scheduled backup" {{ executable_location }}/{{ wrapper_script_name }}
