# https://restic.readthedocs.io/en/latest/040_backup.html?highlight=environment#environment-variables
# https://autorestic.vercel.app/backend/env

{% for key, value in autorestic_additional_env.items() | sort %}
{{key}}={{value}}
{% endfor %}

{%- if restic_backend_keys is defined %}
{% for backend in restic_backend_keys %}
AUTORESTIC_{{ backend | upper }}_RESTIC_PASSWORD={{ restic_backend_keys[backend].key }}
{% endfor %}
{% endif -%}

