[Unit]
Description=Autorestic backup timer
Requires=autorestic.service
# Above solved problem: "Failed to start autorestic.timer: Unit autorestic.timer is masked."

[Timer]
OnCalendar={{ autorestic_systemd_timer_backup }}
Persistent=true

[Install]
WantedBy=timers.target
