include:
{% for app in (docker_services | from_json) %}
  - {{ app.name }}.yaml
{% endfor %}

## TODO: There will need to be a "network" part here with vlan tagging, e.g. from
# https://en-designetwork.daichi703n.com/entry/2018/05/02/docker-compose-network-vlan-tag
# networks:
#   vlan20:
#     name: vlan20
#     driver: macvlan
#     driver_opts:
#       parent: ens192.20
#     ipam:
#       config:
#         - subnet: 192.168.20.0/24
#           gateway: 192.168.20.1

