---
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    extends:
      file: common.yaml
      service: base-service
    ports:
      - "9696:9696"
    volumes: 
      - "{{ service_mounts.config }}/prowlarr:/config"
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    extends:
      file: common.yaml
      service: base-service
    environment:
      WEB-UI: 8080
    volumes:
      - "{{ service_mounts.config }}/qbittorrent:/config"
      - /storage:/media
    ports:
      - 8080:8080
      - 48094:48094
      - 48094:48094/udp
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    extends:
      file: common.yaml
      service: base-service
    ports:
      - "7878:7878"
    volumes:
      - "{{ service_mounts.config }}/radarr:/config"
      - "{{ service_mounts.movies }}:/media/movies"
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr
    extends:
      file: common.yaml
      service: base-service
    ports:
      - "8989:8989"
    volumes:
      - "{{ service_mounts.config }}/sonarr:/config"
      - "{{ service_mounts.tv_series }}:/media/tv_series"
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr
    container_name: lidarr
    extends:
      file: common.yaml
      service: base-service
    ports:
      - "8686:8686"
    volumes:
      - "{{ service_mounts.config }}/lidarr:/config"
      - "{{ service_mounts.util }}/Mp3:/media/music"
    restart: unless-stopped

  lazylibrarian:
    image: lscr.io/linuxserver/lazylibrarian
    container_name: lazylibrarian
    extends:
      file: common.yaml
      service: base-service
    ports:
      - "5299:5299"
    environment:
      DOCKER_MODS: linuxserver/mods:universal-calibre #optional
    volumes:
      - "{{ service_mounts.config }}/lazylibrarian:/config"
      - "{{ service_mounts.util }}/Books:/media/books"
    restart: unless-stopped

  unpackerr:
    image: golift/unpackerr
    container_name: unpackerr
    extends:
      file: common.yaml
      service: base-service
    volumes:
      - "{{ service_mounts.config }}/unpackerr:/config"
      - "{{ service_mounts.movies }}:/media/movies"
      - "{{ service_mounts.tv_series }}:/media/tv_series"
    restart: always
    user: 1000:1000
    environment:
      UN_LOG_FILE: /config/unpackerr.log
      UN_SONARR_0_URL: http://sonarr:8989
      UN_SONARR_0_API_KEY: "{{ lookup('onepassword', 'Servarr', vault='HomeNetwork', section='API Tokens', field='sonarr-token') }}"
      UN_RADARR_0_URL: http://radarr:7878
      UN_RADARR_0_API_KEY: "{{ lookup('onepassword', 'Servarr', vault='HomeNetwork', section='API Tokens', field='radarr-token') }}"

