---
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:develop
    container_name: prowlarr
    ports:
      - "9696:9696"
    environment: *common-environment
    volumes: 
      - "{{ mounts.configs.ct_mountpoint }}/prowlarr:/config"
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      <<: *common-environment
      WEB-UI: 8080
    volumes:
      - "{{ mounts.configs.ct_mountpoint }}/qbittorrent:/config"
      - /storage:/media
    ports:
      - 8080:8080
      - 48094:48094
      - 48094:48094/udp
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr
    container_name: radarr
    ports:
      - "7878:7878"
    environment: *common-environment
    volumes:
      - "{{ mounts.configs.ct_mountpoint }}/radarr:/config"
      - /storage/movies:/media/movies
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr
    container_name: sonarr
    ports:
      - "8989:8989"
    environment: *common-environment
    volumes:
      - "{{ mounts.configs.ct_mountpoint }}/sonarr:/config"
      - /storage/tv_series/:/media/tv_series
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr
    container_name: lidarr
    ports:
      - "8686:8686"
    environment: *common-environment
    volumes:
      - "{{ mounts.configs.ct_mountpoint }}/lidarr:/config"
      - /storage/media/Mp3:/media/music
    restart: unless-stopped

  lazylibrarian:
    image: lscr.io/linuxserver/lazylibrarian
    container_name: lazylibrarian
    ports:
      - "5299:5299"
    environment:
      <<: *common-environment
      DOCKER_MODS: linuxserver/mods:universal-calibre #optional
    volumes:
      - "{{ mounts.configs.ct_mountpoint }}/lazylibrarian:/config"
      - /storage/media/Books:/media/books
    restart: unless-stopped

  unpackerr:
    image: golift/unpackerr
    container_name: unpackerr
    volumes:
      - "{{ mounts.configs.ct_mountpoint }}/unpackerr:/config"
      - /storage/movies:/media/movies
      - /storage/tv_series/:/media/tv_series
    restart: always
    user: 1000:1000
    environment:
      TZ: Europe/Stockholm
      UN_LOG_FILE: /config/unpackerr.log
      UN_SONARR_0_URL: http://sonarr:8989
      UN_SONARR_0_API_KEY: "{{ lookup('onepassword', 'Serverarr', vault='HomeNetwork', section='API Tokens', field='sonarr-token') }}"
      UN_RADARR_0_URL: http://radarr:7878
      UN_RADARR_0_API_KEY: "{{ lookup('onepassword', 'Serverarr', vault='HomeNetwork', section='API Tokens', field='radarr-token') }}"

