services:
  vikunja:
    image: vikunja/vikunja
    extends:
      file: common.yaml
      service: base-service
    environment:
      VIKUNJA_SERVICE_PUBLICURL: http://tasks.edholm.cc
      VIKUNJA_DATABASE_HOST: db
      VIKUNJA_DATABASE_PASSWORD: "{{ lookup('onepassword', 'Vikunja', vault= 'HomeNetwork', field= 'password') }}"
      VIKUNJA_DATABASE_TYPE: postgres
      VIKUNJA_DATABASE_USER: vikunja
      VIKUNJA_DATABASE_DATABASE: vikunja
      VIKUNJA_SERVICE_JWTSECRET: "{{ lookup('onepassword', 'Vikunja', vault= 'HomeNetwork', field= 'jwt_secret') }}"
      VIKUNJA_CORS_ENABLE: "false"
    ports:
      - 3456:3456
    volumes:
      - "{{ service_mounts.config }}:/app/vikunja/files"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
  db:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: "{{ lookup('onepassword', 'Vikunja', vault= 'HomeNetwork', field= 'password') }}"
      POSTGRES_USER: vikunja
    volumes:
      - ./db:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER"]
      interval: 2s
      start_period: 30s
